@font-face {
    font-family: 'rondoregular';
    src: url('./fonts/rondo.ttf') format('truetype'),
         url('./fonts/rondo-webfont.woff2') format('woff2'),
         url('./fonts/rondo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(89, 152, 152);
    display: flex;
    justify-content: center;
}

.frame {
    background-color: rgb(165, 38, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 54px;
    border-radius: 40px;
    box-shadow: black 5px 5px 10px;
}

.header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

img {
    height: 70px;
    filter: drop-shadow(3px 2px 1px blue)
}

.title {
    font-family: rondoregular;
    font-size: 54px;
    font-weight: 1000;
    color: #ffcc00;
    text-shadow: rgb(1, 1, 193) 3px 2px 1px;
    margin: 16px;
}

.drawing-surface {
    background-color: rgb(218, 218, 218);
    width: 600px;
    height: 600px;
    margin: 0 86px;
    box-shadow: rgb(70, 18, 2) 0px -5px 5px,
                rgb(70, 18, 2) -5px 0px 5px;
}

.selector-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    width: 650px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.text {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(255, 204, 0);
    text-shadow: rgb(1, 1, 193) 2px 1px 0px;
}

.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 8px;
    border: solid 1px black;
    border-radius: 5px;  
    background: rgb(218, 218, 218);
    box-shadow: 2px 2px 4px inset black;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    background: rgb(237, 199, 50);
    border: solid black 2px;
    box-shadow: -1px -1px 2px inset black;
    cursor: pointer;
  }

.slider-value {
    width: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:rgb(218, 218, 218);
    text-shadow: black 1px 1px 2px;
}

button {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.25em 0.5em;
    background-color: rgb(218, 218, 218);
    color: rgb(46, 46, 46);
    box-shadow: black 1px 1px 2px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(255, 236, 160);
}

button:active {
    background-color: rgb(237, 199, 50) !important;
    vertical-align: top;
    padding: 0.3em 0.5em 0.2em;
    box-shadow: black -1px -1px 2px;
}

.active-btn {
    background-color: rgb(237, 199, 50) !important;
}

.credits {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
    margin: 0px auto;
    color: black;
    margin: 0 auto;
}

.credits a:visited{
    color: black;
}